{% extends "base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <!-- The load static is necessary to load images, css and JS -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pokeapi_styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'media/pokeball-icon.ico' %}">
    <title>Pokedex | Django</title>
</head>
<body>
    <div class="stylepokeapi">
        <h2>Using Django Framework</h5> 
        <!-- Inserting the main image -->
        <img src="{% static 'media/pokedex-image.png' %}" class="image" style="width:100px;">
        <div class="formDiv">
            <form method="post" id="miFormulario" onsubmit="return validarFormulario()">
                <!-- Cross-site request forgery Protection (seguridad formularios)-->
                {% csrf_token %} 
                
                <!-- Searchbar -->
                <input type="text" id='pokemon' name="pokemon" placeholder="Buscar Pokemon"> <!--'pokemon', mismo en views.pokeapi-->
                <button class="botonenviar"type="submit">Search</button>
            </form>
        </div>
        <script>
            function validarFormulario() {
                // Obtener el valor del campo de texto
                var texto = document.getElementById("pokemon").value;
                // Verificar si el campo está en blanco
                if (texto.trim() === "") {
                    alert("El campo de texto no puede quedar en blanco.");
                    return false;
                }
                return true;
            }
        </script>
        <div>
            <!-- Rendering everything requested to the API -->
            <!-- First we validate the data requested -->
            {% if number and name %} <!-- Validar numero y nombre-->
                <h3>
                    Number: {{number}}
                </h3>
                <h3>
                    Name: {{name}}
                </h3>
                <h3>
                    Height: {{height}}
                </h3>
                <h3>
                    Weight: {{weight}}
                </h3>
                <h3>
                    Default sprite: 
                </h3>
                <img src="{{sprite}}" alt="{{name}} sprite" style="width:250px">
            {% else %}
            <div>
                <h3>
                    Escribe el nombre o ID de tu pokemon.
                </h3>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>


{% endblock %}